* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;

}
body {
    margin: 20px 20px;
    padding: auto;
}
/* Font settings */

h1 {
    font-size: 8rem;
    color: white;
    position: relative;
    top: 45%;
    font-weight: 100;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    
}

#intro article p {
    font-size: 2.5rem;
}

li {
    font-size: 2.2rem;
    font-weight: 100;
}

header {
    height: 1100px;
    text-align: center;
    background-image: url(/lab-css-recipes-clone/apple-pie/images/apple-pie.jpg);
    background-size: cover;
    background-position: 0 -120px;
    background-repeat: no-repeat;
    margin-bottom: 20px;

}
main {
    padding: 100px 100px;
}
div {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

hr {
    border-color: rgba(192, 192, 192);
    border-style: solid;
    margin-bottom: 100px;

}

ul, ol {
    padding-left: 20px;
}
ul li {
    list-style-type: '-';
    
}

ol {
    list-style: none;
}